.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.visibility-nav {
  visibility: visible;
}

.visibility-dropdown {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {


  .visibility-nav {
    visibility: hidden;
  }

  .visibility-dropdown {
    visibility: visible;
  }


}

.gradient-background {
  background: linear-gradient(300deg, #556075, #53607a);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

body {
  background-color: #f4f6fb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.vis {
  visibility: hidden;
  width: 0;
}
.ourcompanies {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .vis {
    visibility: visible;
    width: auto;
  }
}

h4 {
  color: rgb(0, 0, 0);

}


.h1 {

  color: #000000;
  font-size: 8rem;
}

#count1 {
  right: 50%;
  top: 100%;
  padding: 50px;
  background-color: rgb(48, 91, 115);
  color: #ffffff;
  border-radius: 20px;
  transition: --num 4s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}


#count1::after {
  content: counter(num);
}

#count2 {
  right: 50%;
  top: 100%;
  padding: 50px;
  background-color: rgb(48, 91, 115);
  color: #ffffff;
  border-radius: 20px;
  transition: --num 4s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}


#count2::after {
  content: counter(num);
}

#count3 {
  right: 50%;
  top: 100%;
  padding: 50px;
  background-color: rgb(48, 91, 115);
  color: #ffffff;
  border-radius: 20px;
  transition: --num 4s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}


#count3::after {
  content: counter(num);
}

#count4 {
  right: 50%;
  top: 100%;
  padding: 50px;
  background-color: rgb(48, 91, 115);
  color: #ffffff;
  border-radius: 20px;
  transition: --num 4s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}


#count4::after {
  content: counter(num);
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.hatem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.colom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.our {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

h3 {
  color: #000000;
}

.mailto {
  color: #ffffff;
  font-family: 'Caveat', cursive;
  text-align: center;
  padding: 10px;
  height: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 350px;
  justify-content: space-between;

}

.footer-1 {
  display: flex;
  align-items: start;
  height: 50px;
  justify-content: center;
  align-content: space-between;
  /* justify-content: space-between; */
}

.map {
  width: 100%;
  height: 600px;
  filter: grayscale(100%) invert(92%) contrast(83%);
}

.footer-2 {
  background-color: #000000;
}

.textabout {
  color: #ffffff;
  position: relative;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  text-align: center;

}

.qw {
  color: #000000;
  position: relative;
  text-align: center;
  align-items: center;
  font-size: 4rem;
  font-family: 'Caveat', cursive;
}
