@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'POPPINS',sans-serif ;
    
}
section 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./full-metal-alchemist-elric-edward-elric-alphonse-wallpaper-preview.jpg");
    display: flex;
    justify-content: center;
    align-items:center ;

}
section h2
{
    font-size: 14vw;
    color: black;
    background-color:ivory;
}
h1 {
    font-size: 7rem;
    color: rgb(0, 0, 0);
    text-shadow: 5 px 0 black;
    background-color: rgb(255, 255, 255);
    
}
.vl {
    border-left: 4px solid rgb(125, 205, 255);
    height: 450px;
    width: 2px;
}
.big {
    visibility: visible;
}
.dropdown {
    visibility: visible;
}

@media only screen and (max-width: 400px) {

    .big{
        visibility: hidden;
    }
    .dropdown{
        visibility: hidden;
    }
    
}
    
